/* #region imports */
@import "normalize.css";
/* #endregion */

:root {
	--font-color: #0d2c40;
	--background-color: #f6efe5;
	--accent-color: #f15a30;
	--secondary-accent: #c879b2;
	--complimentary-color: rgba(0, 188, 217, 0.8);
	--pop-color: #ffffff;
	text-rendering: optimizeLegibility;
}

/* #region box-sizing reset */

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/* #endregion */

/* #region base (mobile) styles */

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 26px;

	color: var(--font-color);
	background-color: var(--background-color);
	margin: 0;
}

a {
	color: var(--font-color);
	transition: all 0.2s ease-out;
}

.intro header[role="banner"] {
	display: flex;
	position: relative;
	background-color: var(--accent-color);
	width: 100%;
	height: 20rem;
	transition: all 1s ease-in;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
}

.intro header[role="banner"] h1 {
	color: var(--pop-color);
	position: relative;
	align-self: flex-start;
	display: inline-block;
	transform: rotate(-90deg);
	font-size: 1rem;
	margin: 0;
	flex-shrink: 1;
	align-self: center;
	left: -2.5rem;
	bottom: 4rem;
	white-space: nowrap;
	flex-grow: 0;
}

.intro header[role="banner"] h2 {
	display: inline-block;
	background: var(--font-color) url('tomato-icon.svg') no-repeat;
	background-size: 75px;
	background-position: left 5px bottom 10px;
	color: var(--pop-color);
	font-size: 2rem;
	height: 100%;
	width: min-content;
	margin: 0;
	flex-shrink: 0;
	flex-grow: 1;
	padding: 3rem 2rem;
	line-height: 2.5rem;
}

.intro .summary {
	background-color: var(--secondary-accent);
	background-image: url(onion-icon.svg), url(chili-icon.svg), url(seaweed-icon.svg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: bottom left, bottom center, bottom right;
	background-size: 33.333%;
	padding: 2rem 1rem 34% 1.5rem;
}

.intro .summary p {
	margin: 0;
	padding: 0 0 1rem 0;
	color: var(--pop-color);
}

.intro .preamble {
	margin: 0;
	padding: 0 1rem;
}

.intro .preamble h3 {
	font-size: 1.5rem;
	margin: 16px 0;
}

.intro .preamble p {
	margin: 16px 0;
}

.main div {
	margin: 0;
	padding: 1rem;
}

.main h3 {
	font-size: 1.5rem;
	margin: 16px 0;
}

.main .explanation {
	background: var(--font-color);
	color: var(--pop-color);
}

.main .benefits {
	padding: 80px 1rem 1rem 1rem;
	background: var(--complimentary-color) url(tomato-icon.svg) no-repeat top 10px center;
	background-size: 75px;
}

.main footer {
	padding: 0;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: var(--font-color);
}

.main footer a {
	flex-grow: 1;
	height: 100%;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main footer a:nth-child(odd) {
	background-color: var(--complimentary-color);
}

.main footer a:nth-child(even) {
	background-color: var(--accent-color);
}

.main footer a:hover {
	color: var(--pop-color);
}

.sidebar {
	background-color: var(--secondary-accent);
	margin: 0;
}
.sidebar ul {
	margin: 0;
	padding: 0;
}

.design-selection h3.select {
	color: var(--pop-color);
	margin: 0;
	font-size: 1.3rem;
	padding: 1rem 1.5rem;
}

.design-selection nav ul {
	counter-reset: number;
	list-style-type: none;
	padding: 0;
}

.design-selection nav ul li {
	counter-increment: number;
	padding: 20px;
}

.design-selection nav ul li::before {
	position: relative;
	background-color: var(--pop-color);
	color: var(--font-color);
	padding: 0.5rem;
	border-radius: 50%;
	content: counter(number);
	border: 1px solid black;
	margin-right: 5px;
}

.design-selection nav ul li,
.design-selection nav ul li a {
	color: var(--pop-color);
}

.design-selection nav ul li:nth-child(odd) {
	background-color: var(--accent-color);
}

.design-selection nav ul li:nth-child(even) {
	background-color: var(--font-color);
}

.design-selection nav ul li:nth-child(3n) {
	background-color: var(--complimentary-color);
}

.design-archives,
.zen-resources {
	background-color: var(--complimentary-color);
	margin: 0;
	padding: 1rem 1.5rem;
}

.design-archives h3,
.zen-resources h3 {
	margin: 0;
}

.design-archives ul,
.zen-resources ul {
	list-style-type: none;
	margin-top: 10px;
}

.design-archives ul li,
.zen-resources ul li {
	margin-bottom: 20px;
}

.design-archives ul li a,
.zen-resources ul li a {
	padding: 15px 0;
}

.zen-resources {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 70px;
	background: var(--complimentary-color) url(tomato-icon.svg) no-repeat bottom 10px center;
	background-size: 70px;
}

/* #endregion */
